<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cs">
	<select id="nextNoEvtCoupon" resultType="java.lang.Integer">
		select
		nvl(max(TO_NUMBER(coupon_no)),0) + 1
		from evt_coupon
	</select>
	<insert id="insertEvtCoupon" parameterType="evtcouponvo">
		insert into
		evt_coupon
		values(#{coupon_no},#{isused},#{evt_no},#{cust_no})
	</insert>
	<select id="listEvt" resultType="evtvo">
		select
		evt_no,evt_title,evt_content,discount,
		evt_start,evt_end,man_no,
		evt_img
		from(select rownum n, evt_no,evt_title,evt_content,discount,
		evt_start,evt_end,man_no, evt_img
		from (select
		evt_no,evt_title,evt_content,discount,
		TO_CHAR(evt_start,'YYYY-MM-DD')
		evt_start,
		TO_CHAR(evt_end,'YYYY-MM-DD') evt_end,
		man_no, evt_img from
		evt
		order by
		evt_end desc)) e
		where e.n between #{start} and #{end}
	</select>
	<select id="getEvt" resultType="evtvo">
		select
		evt_no,evt_title,evt_content,discount,
		TO_CHAR(evt_start,'YYYY-MM-DD')
		evt_start,
		TO_CHAR(evt_end,'YYYY-MM-DD') evt_end,
		man_no, evt_img
		from
		evt where evt_no = #{evt_no}
	</select>
	<select id="getCountEvt" resultType="java.lang.Integer">
		select count(*) from evt
		order by evt_end desc
	</select>
	<select id="isReceived" resultType="java.lang.Integer">
		select count(*)
		from customer
		where cust_no = (select cust_no from evt_coupon where
		cust_no
		=#{cust_no} and evt_no =#{evt_no} )
	</select>
	<select id="listNotice" resultType="noticevo">
		select notice_no, notice_title,
		notice_content,write_date,
		hits, man_no,
		notice_filename
		from
		(select rownum n, notice_no, notice_title,
		notice_content,write_date,
		hits, man_no, notice_filename
		from (select
		notice_no,
		notice_title,
		notice_content,
		TO_CHAR(write_date,'YYYY-MM-DD')
		write_date,
		hits, man_no,
		notice_filename
		from notice
		<if test="keyword != null and keyword !=''">
			<if test="searchfield == '전체'">
				where notice_title like '%'||#{keyword}||'%'
				or
				notice_content like'%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '제목'">
				where notice_title like '%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '내용'">
				where notice_content like'%'||#{keyword}||'%'
			</if>
		</if>
		order by notice_no desc )) a
		where a.n between #{start} and #{end}
	</select>
	<select id="listQa" resultType="qavo">
		select n, qa_no, qa_title, qa_content, qa_write_date,b_ref,
		b_level,b_step,cust_no, man_no, provider_no,
		cust_name, pro_name,
		isanswer
		from ( select rownum
		n, qa_no, qa_title, qa_content,
		qa_write_date,b_ref,
		b_level,b_step,cust_no, man_no, provider_no,
		cust_name, pro_name, isanswer
		from ( select qa_no,
		qa_title,qa_content,TO_CHAR(qa_write_date,'YYYY-MM-DD')qa_write_date,b_ref,b_level,b_step,q.cust_no,
		man_no, provider_no,
		(select c.cust_name from customer c where
		c.cust_no =
		q.cust_no) cust_name,
		(select p.pro_name from provider p
		where p.provider_no =
		q.provider_no)
		pro_name,
		(select count(*) from qa
		where b_ref in q.b_ref)
		isanswer
		from
		qa q
		<if test="keyword != null and keyword !=''">
			<if test="searchfield == '전체'">
				where qa_title like '%'||#{keyword}||'%'
				or
				qa_content like
				'%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '제목'">
				where qa_title like '%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '내용'">
				where qa_content like'%'||#{keyword}||'%'
			</if>
		</if>
		order by b_ref desc, b_step ) )
		where n between #{start} and #{end}
	</select>
	<select id="getCountNotice" resultType="java.lang.Integer">
		select count(notice_no) from notice
		<if test="keyword != null and keyword !=''">
			<if test="searchfield == '전체'">
				where notice_title like '%'||#{keyword}||'%'
				or
				notice_content like'%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '제목'">
				where notice_title like '%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '내용'">
				where notice_content like'%'||#{keyword}||'%'
			</if>
		</if>
		order by notice_no desc
	</select>
	<select id="getCountQa" resultType="java.lang.Integer">
		select count(*) from qa
		<if test="keyword != null and keyword !=''">
			<if test="searchfield == '전체'">
				where qa_title like '%'||#{keyword}||'%'
				or
				qa_content like
				'%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '제목'">
				where qa_title like '%'||#{keyword}||'%'
			</if>
			<if test="searchfield == '내용'">
				where qa_content like'%'||#{keyword}||'%'
			</if>
		</if>
		order by qa_no desc
	</select>
	<select id="getNotice" resultType="noticevo">
		select notice_no,
		notice_title,
		notice_content,
		TO_CHAR(write_date,'YYYY-MM-DD')
		write_date,
		hits, man_no, notice_filename
		from notice
		where
		notice_no=#{notice_no}
	</select>
	<select id="getQa" resultType="qavo">
		select qa_no,
		qa_title,qa_content,TO_CHAR(qa_write_date,'YYYY-MM-DD')qa_write_date,b_ref,b_level,b_step,q.cust_no,
		man_no, provider_no,
		(select c.cust_name from customer c where
		c.cust_no =
		q.cust_no) cust_name,
		(select p.pro_name from provider p
		where p.provider_no =
		q.provider_no)
		pro_name,
		(select count(*) from qa
		where b_ref in q.b_ref)
		isanswer
		from
		qa q
		where q.qa_no=#{qa_no}
	</select>
	<select id="nextNoQa" resultType="java.lang.Integer">
		select nvl(max(qa_no),0) + 1
		from
		qa
	</select>
	<select id="getCustomer" resultType="customervo">
		select * from customer where
		cust_no=#{cust_no}
	</select>
	<select id="getProvider" resultType="providervo">
		select * from provider where
		provider_no=#{provider_no}
	</select>
	<insert id="insertQa" parameterType="qavo">
		insert into qa
		values(#{qa_no},#{qa_title},#{qa_content},
		#{qa_write_date},#{b_ref},#{b_level},
		#{b_step},
		<if test="cust_no !=0 and provider_no ==0">
			#{cust_no},
			null,null)
		</if>
		<if test="cust_no ==0 and provider_no !=0">
			null,
			null,#{provider_no})
		</if>
	</insert>
	<update id="updateQa">
		update qa set qa_title = #{qa_title},
		qa_content=#{qa_content}
		where
		qa_no =#{qa_no} and 
		<if test="cust_no !=0 and provider_no ==0">
			cust_no = #{cust_no}
		</if>
		<if test="cust_no ==0 and provider_no !=0">
			provider_no = #{provider_no}
		</if>
	</update>
	<update id="updateHits">
		update notice set hits = hits+1 where notice_no = #{notice_no} 
	</update>
</mapper>